@media (min-width: 640px) {

  #menu-button { display: none; }

  #nav-menu {
    width: auto;
    margin-left: auto;
  }

  #nav-menu ul { display: flex; }

  #nav-menu a {
    border-top: none;
    border-radius: 4px;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .list .member-card h2 {
    flex-basis: auto;
    min-width: 200px;
  }
}